* {
  margin: 0;
  border: 0;
  padding: 0;
}

html,
body {
  width: auto;
  overflow-x: hidden;
}

/* Introduction */
.section-1 {
  background-image: url("images/about-bg.png");
  background-repeat: no-repeat;
  background-size: 170%;
  padding-bottom: 5%;
  background-color: #f0efef;
  text-align: center;
}

.desktop-menu {
  display: none;
}

nav {
  display: flex;
}

.menu {
  width: 40px;
  height: 30px;
  margin-left: 4%;
  margin-top: 20px;
}

#about-menu {
  display: flex;
  background-color: #ec5242;
  opacity: 0.94;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  flex-direction: column;
  padding: 8%;
  transition: 0.5s;
  transform: translateX(-100%);
}

#about-exit {
  text-decoration: none;
  color: #fff;
  font-size: 42px;
  align-self: flex-end;
}

#about-exit:hover {
  cursor: pointer;
}

.link {
  margin-bottom: 20px;
}

li {
  list-style-type: none;
}

.link a {
  font-family: "lato", sans-serif;
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
  text-decoration: none;
}

.about {
  padding-top: 5%;
}

.about-heading {
  font-family: cocogoose, sans-serif;
  width: 100%;
  color: #ec5242;
  font-size: 250%;
  font-weight: 600;
}

.paragraph {
  width: 90%;
  height: 90%;
  border: 2px solid #d8d6d6;
  margin-left: 4%;
  margin-right: 3%;
  margin-top: 4%;
  margin-bottom: 3%;
  background-color: #fff;
  border-radius: 3%;
  padding: 2%;
  font-family: lato, sans-serif;
  font-weight: 300;
  font-size: 105%;
}

.about-text {
  font-family: lato, sans-serif;
  color: #ec5242;
  font-size: 130%;
}

.contact {
  font-family: lato, sans-serif;
}

.about-logo {
  text-align: center;
}

.logo-heading {
  display: inline-flex;
  color: #000;
  font-family: cocogoose, sans-serif;
  font-size: 150%;
  font-weight: 120;
  margin-bottom: 5%;
  padding-top: 6%;
  padding-bottom: 2%;
  border-bottom: 2px solid #ec5242;
}

.logo-message {
  font-family: lato, sans-serif;
  font-size: 120%;
}

.logo {
  width: 200px;
}

.logo-image {
  border: 1px solid #f0efef;
  width: 60%;
  display: flex;
  justify-content: center;
  margin-left: 20%;
  padding: 10px;
  margin-top: 5%;
  margin-bottom: 5%;
}

/* past-events */
.past-events {
  border-top: 2px solid #f0efef;
  padding: 5%;
  text-align: center;
}

.events-heading {
  font-family: lato, sans-serif;
  font-weight: 900;
  padding-bottom: 2%;
}

.event-message {
  font-family: lato, sans-serif;
  font-size: 120%;
}

.participant1 {
  background-color: #ec5242;
  width: 95%;
  height: 20%;
  margin-left: 3%;
  margin-bottom: 3%;
}

.participant1 img {
  object-fit: cover;
  opacity: 0.4;
}

.participant2 {
  background-color: #ec5242;
  margin-left: 3%;
  width: 95%;
  height: 30%;
}

.participant2 img {
  object-fit: cover;
  opacity: 0.4;
}

.card-img-overlay {
  margin-top: 20%;
  font-family: lato, sans-serif;
}

/* footer */
footer {
  display: flex;
  background-color: #353434;
  padding: 4px;
  height: 170px;
}

.footer-logo {
  width: 90px;
}

.footer-image {
  margin-left: 20%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.info {
  color: #fff;
  font-family: lato, sans-serif;
  font-size: 20px;
  margin-left: 7px;
  margin-top: 60px;
}

.sub {
  margin-top: -9%;
}

@media only screen and (min-width: 769px) {
  .menu {
    display: none;
  }

  .participants {
    display: flex;
    width: 90%;
    border-radius: 0;
  }

  .first-section {
    background-size: 100%;
  }

  .info {
    color: #fff;
    font-family: lato, sans-serif;
    font-size: 20px;
    margin-left: 7px;
    margin-top: 60px;
  }

  header {
    background-color: #fff;
    padding-top: 9px;
    height: 100px;
    box-shadow: 0 0 3px 0 #636262;
  }

  .desktop-menu {
    display: flex;
    width: 100%;
    margin-left: 80px;
  }

  .logo {
    display: flex;
    width: 15%;
    height: 90px;
    justify-content: center;
  }

  .links {
    display: inline-flex;
    list-style-type: none;
    margin-top: 20px;
    font-family: "lato", sans-serif;
    font-size: 17px;
    margin-left: 25%;
  }

  .links li a {
    text-decoration: none;
    margin: 9px;
    width: 20%;
    color: rgb(53, 53, 53);
  }

  .links li a:hover {
    color: #ec5242;
  }

  nav {
    display: flex;
  }

  .signup {
    display: flex;
    width: 150px;
    height: 40px;
    color: #ec5242;
    margin-right: 5%;
    margin-top: 15px;
    background-color: #fff;
    border: 3px solid #ec5242;
    padding-left: 2px;
    padding-right: 1px;
    padding-bottom: 20px;
    font-size: 150%;
    font-family: lato, sans-serif;
  }
}
